<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIwlHl7x2rkbe-ewTvozMIZaCMwhF031k</string>
	<key>GCM_SENDER_ID</key>
	<string>234427220108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hotelKitchenManagement.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hotel-kitchen-management-a352b</string>
	<key>STORAGE_BUCKET</key>
	<string>hotel-kitchen-management-a352b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234427220108:ios:20ff63c4909e2547fd3ba9</string>
</dict>
</plist>